body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100%;
  padding: 2rem;
}

/* react-resizable styles */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: rgba(0, 0, 0, 0.1);
}

.react-resizable-handle:hover {
  background: rgba(0, 0, 0, 0.2);
}
